* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body .ecranAccueil {
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
body .ecranAccueil h1 {
  font-size: 3rem;
  color: white;
  -webkit-text-stroke: 1px #000;
}
body .ecranAccueil .boutonsAccueil {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
}
body .ecranAccueil .boutonsAccueil button:nth-of-type(n+1) {
  border: none;
  background-color: transparent;
  font-size: 2rem;
}
body .ecranAccueil .boutonsAccueil .boutonJouer:hover,
body .ecranAccueil .boutonsAccueil .boutonRegles:hover,
body .ecranAccueil .boutonsAccueil .boutonParametes:hover {
  background-color: aquamarine;
}
body .ecranAccueil .boutonsAccueil .modal {
  display: none;
  /* Caché par défaut */
  position: fixed;
  /* Reste en place */
  z-index: 1;
  /* Affiche une couche plus haut */
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Active le scrolling si besoin */
  background-color: rgba(0, 0, 0, 0.4);
}
body .ecranAccueil .boutonsAccueil .modal .modalContenu {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
body .ecranAccueil .boutonsAccueil .modal .modalContenu .boutonFermerRegles {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
body .ecranAccueil .boutonsAccueil .modal .modalContenu .boutonFermerRegles:hover {
  color: #000;
}
body .ecranSelection {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  flex-flow: column nowrap;
  align-items: center;
}
body .ecranSelection .joueurs {
  height: 100%;
  display: flex;
}
body .ecranSelection .joueurs .joueur1,
body .ecranSelection .joueurs .joueur2 {
  height: 100%;
  background-color: lightcoral;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  text-align: center;
}
body .ecranSelection .joueurs .joueur1 .pokemonJ1,
body .ecranSelection .joueurs .joueur2 .pokemonJ1,
body .ecranSelection .joueurs .joueur1 .pokemonJ2,
body .ecranSelection .joueurs .joueur2 .pokemonJ2 {
  display: grid;
  grid-template-areas: "a a";
  gap: 20px;
}
body .ecranSelection .joueurs .joueur1 .pokemonJ1 .Pikachu,
body .ecranSelection .joueurs .joueur2 .pokemonJ1 .Pikachu,
body .ecranSelection .joueurs .joueur1 .pokemonJ2 .Pikachu,
body .ecranSelection .joueurs .joueur2 .pokemonJ2 .Pikachu,
body .ecranSelection .joueurs .joueur1 .pokemonJ1 .Dracaufeu,
body .ecranSelection .joueurs .joueur2 .pokemonJ1 .Dracaufeu,
body .ecranSelection .joueurs .joueur1 .pokemonJ2 .Dracaufeu,
body .ecranSelection .joueurs .joueur2 .pokemonJ2 .Dracaufeu,
body .ecranSelection .joueurs .joueur1 .pokemonJ1 .Tortank,
body .ecranSelection .joueurs .joueur2 .pokemonJ1 .Tortank,
body .ecranSelection .joueurs .joueur1 .pokemonJ2 .Tortank,
body .ecranSelection .joueurs .joueur2 .pokemonJ2 .Tortank,
body .ecranSelection .joueurs .joueur1 .pokemonJ1 .Florizarre,
body .ecranSelection .joueurs .joueur2 .pokemonJ1 .Florizarre,
body .ecranSelection .joueurs .joueur1 .pokemonJ2 .Florizarre,
body .ecranSelection .joueurs .joueur2 .pokemonJ2 .Florizarre {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: center;
  gap: 20px;
}
body .ecranSelection .joueurs .joueur1 .pokemonJ1 .Pikachu .description,
body .ecranSelection .joueurs .joueur2 .pokemonJ1 .Pikachu .description,
body .ecranSelection .joueurs .joueur1 .pokemonJ2 .Pikachu .description,
body .ecranSelection .joueurs .joueur2 .pokemonJ2 .Pikachu .description,
body .ecranSelection .joueurs .joueur1 .pokemonJ1 .Dracaufeu .description,
body .ecranSelection .joueurs .joueur2 .pokemonJ1 .Dracaufeu .description,
body .ecranSelection .joueurs .joueur1 .pokemonJ2 .Dracaufeu .description,
body .ecranSelection .joueurs .joueur2 .pokemonJ2 .Dracaufeu .description,
body .ecranSelection .joueurs .joueur1 .pokemonJ1 .Tortank .description,
body .ecranSelection .joueurs .joueur2 .pokemonJ1 .Tortank .description,
body .ecranSelection .joueurs .joueur1 .pokemonJ2 .Tortank .description,
body .ecranSelection .joueurs .joueur2 .pokemonJ2 .Tortank .description,
body .ecranSelection .joueurs .joueur1 .pokemonJ1 .Florizarre .description,
body .ecranSelection .joueurs .joueur2 .pokemonJ1 .Florizarre .description,
body .ecranSelection .joueurs .joueur1 .pokemonJ2 .Florizarre .description,
body .ecranSelection .joueurs .joueur2 .pokemonJ2 .Florizarre .description {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}
body .ecranSelection .joueurs .joueur1 .pokemonJ1 .Pikachu .description .attributs,
body .ecranSelection .joueurs .joueur2 .pokemonJ1 .Pikachu .description .attributs,
body .ecranSelection .joueurs .joueur1 .pokemonJ2 .Pikachu .description .attributs,
body .ecranSelection .joueurs .joueur2 .pokemonJ2 .Pikachu .description .attributs,
body .ecranSelection .joueurs .joueur1 .pokemonJ1 .Dracaufeu .description .attributs,
body .ecranSelection .joueurs .joueur2 .pokemonJ1 .Dracaufeu .description .attributs,
body .ecranSelection .joueurs .joueur1 .pokemonJ2 .Dracaufeu .description .attributs,
body .ecranSelection .joueurs .joueur2 .pokemonJ2 .Dracaufeu .description .attributs,
body .ecranSelection .joueurs .joueur1 .pokemonJ1 .Tortank .description .attributs,
body .ecranSelection .joueurs .joueur2 .pokemonJ1 .Tortank .description .attributs,
body .ecranSelection .joueurs .joueur1 .pokemonJ2 .Tortank .description .attributs,
body .ecranSelection .joueurs .joueur2 .pokemonJ2 .Tortank .description .attributs,
body .ecranSelection .joueurs .joueur1 .pokemonJ1 .Florizarre .description .attributs,
body .ecranSelection .joueurs .joueur2 .pokemonJ1 .Florizarre .description .attributs,
body .ecranSelection .joueurs .joueur1 .pokemonJ2 .Florizarre .description .attributs,
body .ecranSelection .joueurs .joueur2 .pokemonJ2 .Florizarre .description .attributs {
  display: flex;
  flex-flow: row wrap;
  column-gap: 20px;
}
body .ecranSelection .joueurs .joueur1 .pokemonJ1 .Pikachu .images,
body .ecranSelection .joueurs .joueur2 .pokemonJ1 .Pikachu .images,
body .ecranSelection .joueurs .joueur1 .pokemonJ2 .Pikachu .images,
body .ecranSelection .joueurs .joueur2 .pokemonJ2 .Pikachu .images,
body .ecranSelection .joueurs .joueur1 .pokemonJ1 .Dracaufeu .images,
body .ecranSelection .joueurs .joueur2 .pokemonJ1 .Dracaufeu .images,
body .ecranSelection .joueurs .joueur1 .pokemonJ2 .Dracaufeu .images,
body .ecranSelection .joueurs .joueur2 .pokemonJ2 .Dracaufeu .images,
body .ecranSelection .joueurs .joueur1 .pokemonJ1 .Tortank .images,
body .ecranSelection .joueurs .joueur2 .pokemonJ1 .Tortank .images,
body .ecranSelection .joueurs .joueur1 .pokemonJ2 .Tortank .images,
body .ecranSelection .joueurs .joueur2 .pokemonJ2 .Tortank .images,
body .ecranSelection .joueurs .joueur1 .pokemonJ1 .Florizarre .images,
body .ecranSelection .joueurs .joueur2 .pokemonJ1 .Florizarre .images,
body .ecranSelection .joueurs .joueur1 .pokemonJ2 .Florizarre .images,
body .ecranSelection .joueurs .joueur2 .pokemonJ2 .Florizarre .images {
  width: 100px;
  height: 100px;
}
body .ecranSelection .joueurs .joueur1 .pokemonSelected,
body .ecranSelection .joueurs .joueur2 .pokemonSelected {
  border: 2px solid blue;
}
body .ecranSelection .joueurs .joueur1 .boutonPret,
body .ecranSelection .joueurs .joueur2 .boutonPret {
  border: none;
  background-color: transparent;
  font-size: 2rem;
}
body .ecranSelection .joueurs .joueur1 .btnSelected,
body .ecranSelection .joueurs .joueur2 .btnSelected {
  background-color: red;
}
body .ecranSelection .joueurs .joueur2 {
  background-color: lightblue;
}
body .ecranCombat {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  flex-direction: column;
  align-items: center;
}
body .ecranCombat .champDeBataille {
  width: 100%;
  height: 66.6%;
  background-color: green;
  display: flex;
}
body .ecranCombat .champDeBataille .champJ1 {
  width: 100%;
  height: 100%;
  border: solid 2px red;
}
body .ecranCombat .champDeBataille .champJ2 {
  width: 100%;
  height: 100%;
  border: solid 2px blue;
}
body .ecranCombat .combatJoueurs {
  width: 100%;
  height: 33.3%;
  background-color: antiquewhite;
  border: solid 2px purple;
  display: flex;
  justify-content: space-evenly;
}
body .ecranCombat .combatJoueurs .combatJ1,
body .ecranCombat .combatJoueurs .combatJ2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  border: solid 3px pink;
}
body .ecranCombat .combatJoueurs .combatJ1 .pokemonHudJ1,
body .ecranCombat .combatJoueurs .combatJ2 .pokemonHudJ1,
body .ecranCombat .combatJoueurs .combatJ1 .pokemonHudJ2,
body .ecranCombat .combatJoueurs .combatJ2 .pokemonHudJ2 {
  flex-grow: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  border: solid 2px yellow;
}
body .ecranCombat .combatJoueurs .combatJ1 .pokemonHudJ1 #pointDeVieJ1,
body .ecranCombat .combatJoueurs .combatJ2 .pokemonHudJ1 #pointDeVieJ1,
body .ecranCombat .combatJoueurs .combatJ1 .pokemonHudJ2 #pointDeVieJ1,
body .ecranCombat .combatJoueurs .combatJ2 .pokemonHudJ2 #pointDeVieJ1,
body .ecranCombat .combatJoueurs .combatJ1 .pokemonHudJ1 #pointDeVieJ2,
body .ecranCombat .combatJoueurs .combatJ2 .pokemonHudJ1 #pointDeVieJ2,
body .ecranCombat .combatJoueurs .combatJ1 .pokemonHudJ2 #pointDeVieJ2,
body .ecranCombat .combatJoueurs .combatJ2 .pokemonHudJ2 #pointDeVieJ2 {
  width: 150px;
  height: 25px;
  border: 2px solid gray;
}
body .ecranCombat .combatJoueurs .combatJ1 .pokemonHudJ1 #pointDeVieJ1::-webkit-progress-bar,
body .ecranCombat .combatJoueurs .combatJ2 .pokemonHudJ1 #pointDeVieJ1::-webkit-progress-bar,
body .ecranCombat .combatJoueurs .combatJ1 .pokemonHudJ2 #pointDeVieJ1::-webkit-progress-bar,
body .ecranCombat .combatJoueurs .combatJ2 .pokemonHudJ2 #pointDeVieJ1::-webkit-progress-bar,
body .ecranCombat .combatJoueurs .combatJ1 .pokemonHudJ1 #pointDeVieJ2::-webkit-progress-bar,
body .ecranCombat .combatJoueurs .combatJ2 .pokemonHudJ1 #pointDeVieJ2::-webkit-progress-bar,
body .ecranCombat .combatJoueurs .combatJ1 .pokemonHudJ2 #pointDeVieJ2::-webkit-progress-bar,
body .ecranCombat .combatJoueurs .combatJ2 .pokemonHudJ2 #pointDeVieJ2::-webkit-progress-bar {
  background-color: white;
}
body .ecranCombat .combatJoueurs .combatJ1 .pokemonHudJ1 #pointDeVieJ1::-webkit-progress-value,
body .ecranCombat .combatJoueurs .combatJ2 .pokemonHudJ1 #pointDeVieJ1::-webkit-progress-value,
body .ecranCombat .combatJoueurs .combatJ1 .pokemonHudJ2 #pointDeVieJ1::-webkit-progress-value,
body .ecranCombat .combatJoueurs .combatJ2 .pokemonHudJ2 #pointDeVieJ1::-webkit-progress-value,
body .ecranCombat .combatJoueurs .combatJ1 .pokemonHudJ1 #pointDeVieJ2::-webkit-progress-value,
body .ecranCombat .combatJoueurs .combatJ2 .pokemonHudJ1 #pointDeVieJ2::-webkit-progress-value,
body .ecranCombat .combatJoueurs .combatJ1 .pokemonHudJ2 #pointDeVieJ2::-webkit-progress-value,
body .ecranCombat .combatJoueurs .combatJ2 .pokemonHudJ2 #pointDeVieJ2::-webkit-progress-value {
  background-color: red;
}
body .ecranCombat .combatJoueurs .combatJ1 .actionJ1,
body .ecranCombat .combatJoueurs .combatJ2 .actionJ1,
body .ecranCombat .combatJoueurs .combatJ1 .actionJ2,
body .ecranCombat .combatJoueurs .combatJ2 .actionJ2 {
  flex-grow: 10;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  border: solid 2px green;
}
body .ecranCombat .combatJoueurs .combatJ1 .actionJ1 .boutonAction,
body .ecranCombat .combatJoueurs .combatJ2 .actionJ1 .boutonAction,
body .ecranCombat .combatJoueurs .combatJ1 .actionJ2 .boutonAction,
body .ecranCombat .combatJoueurs .combatJ2 .actionJ2 .boutonAction {
  transform: scale(3);
}
body .ecranCombat .combatJoueurs .combatJ1 .attaquesJ1,
body .ecranCombat .combatJoueurs .combatJ2 .attaquesJ1,
body .ecranCombat .combatJoueurs .combatJ1 .attaquesJ2,
body .ecranCombat .combatJoueurs .combatJ2 .attaquesJ2 {
  flex-grow: 10;
  width: 100%;
  display: none;
  grid-template-areas: "a a";
  padding: 20px;
  border: solid 2px green;
  gap: 10px;
}
body .ecranFin {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
body .ecranFin .gagnant {
  width: 100%;
  height: 100%;
  text-align: center;
}
body .ecranFin .actionsEcranFin {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 15%;
}
body .ecranFin .actionsEcranFin .boutonAction1 {
  transform: scale(3);
}
