* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body .ecranAccueil {
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
body .ecranAccueil h1 {
  font-size: 3rem;
  color: white;
  -webkit-text-stroke: 1px #000;
}
body .ecranAccueil .boutonsAccueil {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
}
body .ecranAccueil .boutonsAccueil button:nth-of-type(n+1) {
  border: none;
  background-color: transparent;
  font-size: 2rem;
}
body .ecranAccueil .boutonsAccueil .boutonJouer:hover,
body .ecranAccueil .boutonsAccueil .boutonRegles:hover,
body .ecranAccueil .boutonsAccueil .boutonParametes:hover {
  background-color: aquamarine;
}
body .ecranAccueil .boutonsAccueil .modal {
  display: none;
  /* Caché par défaut */
  position: fixed;
  /* Reste en place */
  z-index: 1;
  /* Affiche une couche plus haut */
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Active le scrolling si besoin */
  background-color: rgba(0, 0, 0, 0.4);
}
body .ecranAccueil .boutonsAccueil .modal .modalContenu {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
body .ecranAccueil .boutonsAccueil .modal .modalContenu .boutonFermerRegles {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
body .ecranAccueil .boutonsAccueil .modal .modalContenu .boutonFermerRegles:hover {
  color: #000;
}
body .ecranSelection {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  flex-flow: column nowrap;
  align-items: center;
}
body .ecranSelection .joueurs {
  width: 100%;
  height: 100%;
  display: flex;
}
body .ecranSelection .joueurs .joueur1,
body .ecranSelection .joueurs .joueur2 {
  width: 100%;
  height: 100%;
  background-color: lightcoral;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  text-align: center;
}
body .ecranSelection .joueurs .joueur1 .personnages,
body .ecranSelection .joueurs .joueur2 .personnages {
  display: grid;
  grid-template-areas: "a a";
  gap: 20px;
}
body .ecranSelection .joueurs .joueur1 .personnages .Mage,
body .ecranSelection .joueurs .joueur2 .personnages .Mage,
body .ecranSelection .joueurs .joueur1 .personnages .Guerrier,
body .ecranSelection .joueurs .joueur2 .personnages .Guerrier,
body .ecranSelection .joueurs .joueur1 .personnages .Prêtre,
body .ecranSelection .joueurs .joueur2 .personnages .Prêtre,
body .ecranSelection .joueurs .joueur1 .personnages .Archer,
body .ecranSelection .joueurs .joueur2 .personnages .Archer {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: center;
  gap: 20px;
}
body .ecranSelection .joueurs .joueur1 .personnages .Mage .description,
body .ecranSelection .joueurs .joueur2 .personnages .Mage .description,
body .ecranSelection .joueurs .joueur1 .personnages .Guerrier .description,
body .ecranSelection .joueurs .joueur2 .personnages .Guerrier .description,
body .ecranSelection .joueurs .joueur1 .personnages .Prêtre .description,
body .ecranSelection .joueurs .joueur2 .personnages .Prêtre .description,
body .ecranSelection .joueurs .joueur1 .personnages .Archer .description,
body .ecranSelection .joueurs .joueur2 .personnages .Archer .description {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}
body .ecranSelection .joueurs .joueur1 .personnages .Mage .description .attributs,
body .ecranSelection .joueurs .joueur2 .personnages .Mage .description .attributs,
body .ecranSelection .joueurs .joueur1 .personnages .Guerrier .description .attributs,
body .ecranSelection .joueurs .joueur2 .personnages .Guerrier .description .attributs,
body .ecranSelection .joueurs .joueur1 .personnages .Prêtre .description .attributs,
body .ecranSelection .joueurs .joueur2 .personnages .Prêtre .description .attributs,
body .ecranSelection .joueurs .joueur1 .personnages .Archer .description .attributs,
body .ecranSelection .joueurs .joueur2 .personnages .Archer .description .attributs {
  display: flex;
  flex-flow: row wrap;
  column-gap: 20px;
}
body .ecranSelection .joueurs .joueur1 .personnages .Mage .imageMage,
body .ecranSelection .joueurs .joueur2 .personnages .Mage .imageMage,
body .ecranSelection .joueurs .joueur1 .personnages .Guerrier .imageMage,
body .ecranSelection .joueurs .joueur2 .personnages .Guerrier .imageMage,
body .ecranSelection .joueurs .joueur1 .personnages .Prêtre .imageMage,
body .ecranSelection .joueurs .joueur2 .personnages .Prêtre .imageMage,
body .ecranSelection .joueurs .joueur1 .personnages .Archer .imageMage,
body .ecranSelection .joueurs .joueur2 .personnages .Archer .imageMage,
body .ecranSelection .joueurs .joueur1 .personnages .Mage .imageGuerrier,
body .ecranSelection .joueurs .joueur2 .personnages .Mage .imageGuerrier,
body .ecranSelection .joueurs .joueur1 .personnages .Guerrier .imageGuerrier,
body .ecranSelection .joueurs .joueur2 .personnages .Guerrier .imageGuerrier,
body .ecranSelection .joueurs .joueur1 .personnages .Prêtre .imageGuerrier,
body .ecranSelection .joueurs .joueur2 .personnages .Prêtre .imageGuerrier,
body .ecranSelection .joueurs .joueur1 .personnages .Archer .imageGuerrier,
body .ecranSelection .joueurs .joueur2 .personnages .Archer .imageGuerrier,
body .ecranSelection .joueurs .joueur1 .personnages .Mage .imagePrêtre,
body .ecranSelection .joueurs .joueur2 .personnages .Mage .imagePrêtre,
body .ecranSelection .joueurs .joueur1 .personnages .Guerrier .imagePrêtre,
body .ecranSelection .joueurs .joueur2 .personnages .Guerrier .imagePrêtre,
body .ecranSelection .joueurs .joueur1 .personnages .Prêtre .imagePrêtre,
body .ecranSelection .joueurs .joueur2 .personnages .Prêtre .imagePrêtre,
body .ecranSelection .joueurs .joueur1 .personnages .Archer .imagePrêtre,
body .ecranSelection .joueurs .joueur2 .personnages .Archer .imagePrêtre,
body .ecranSelection .joueurs .joueur1 .personnages .Mage .imageArcher,
body .ecranSelection .joueurs .joueur2 .personnages .Mage .imageArcher,
body .ecranSelection .joueurs .joueur1 .personnages .Guerrier .imageArcher,
body .ecranSelection .joueurs .joueur2 .personnages .Guerrier .imageArcher,
body .ecranSelection .joueurs .joueur1 .personnages .Prêtre .imageArcher,
body .ecranSelection .joueurs .joueur2 .personnages .Prêtre .imageArcher,
body .ecranSelection .joueurs .joueur1 .personnages .Archer .imageArcher,
body .ecranSelection .joueurs .joueur2 .personnages .Archer .imageArcher {
  width: 100px;
  height: 100px;
}
body .ecranSelection .joueurs .joueur1 .heroSelected,
body .ecranSelection .joueurs .joueur2 .heroSelected {
  border: 2px solid blue;
}
body .ecranSelection .joueurs .joueur1 .boutonPret,
body .ecranSelection .joueurs .joueur2 .boutonPret {
  border: none;
  background-color: transparent;
  font-size: 2rem;
}
body .ecranSelection .joueurs .joueur1 .btnSelected,
body .ecranSelection .joueurs .joueur2 .btnSelected {
  background-color: red;
}
body .ecranSelection .joueurs .joueur2 {
  background-color: lightblue;
}
body .ecranCombat {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  flex-direction: column;
  align-items: center;
}
body .ecranCombat .champDeBataille {
  width: 100%;
  height: 66.6%;
  background-color: green;
}
body .ecranCombat .combatJoueurs {
  width: 100%;
  height: 33.3%;
  background-color: antiquewhite;
  display: flex;
  justify-content: space-evenly;
}
body .ecranCombat .combatJoueurs .combatJ1 .heroHudJ1,
body .ecranCombat .combatJoueurs .combatJ2 .heroHudJ1,
body .ecranCombat .combatJoueurs .combatJ1 .heroHudJ2,
body .ecranCombat .combatJoueurs .combatJ2 .heroHudJ2 {
  display: flex;
  justify-content: space-around;
}
body .ecranCombat .combatJoueurs .combatJ1 .heroHudJ1 #pointDeVie,
body .ecranCombat .combatJoueurs .combatJ2 .heroHudJ1 #pointDeVie,
body .ecranCombat .combatJoueurs .combatJ1 .heroHudJ2 #pointDeVie,
body .ecranCombat .combatJoueurs .combatJ2 .heroHudJ2 #pointDeVie {
  width: 200px;
  height: 25px;
  border: 2px solid gray;
}
body .ecranCombat .combatJoueurs .combatJ1 .heroHudJ1 #pointDeVie::-webkit-progress-bar,
body .ecranCombat .combatJoueurs .combatJ2 .heroHudJ1 #pointDeVie::-webkit-progress-bar,
body .ecranCombat .combatJoueurs .combatJ1 .heroHudJ2 #pointDeVie::-webkit-progress-bar,
body .ecranCombat .combatJoueurs .combatJ2 .heroHudJ2 #pointDeVie::-webkit-progress-bar {
  background-color: white;
}
body .ecranCombat .combatJoueurs .combatJ1 .heroHudJ1 #pointDeVie::-webkit-progress-value,
body .ecranCombat .combatJoueurs .combatJ2 .heroHudJ1 #pointDeVie::-webkit-progress-value,
body .ecranCombat .combatJoueurs .combatJ1 .heroHudJ2 #pointDeVie::-webkit-progress-value,
body .ecranCombat .combatJoueurs .combatJ2 .heroHudJ2 #pointDeVie::-webkit-progress-value {
  background-color: red;
}
body .ecranCombat .combatJoueurs .combatJ1 .actionJ1,
body .ecranCombat .combatJoueurs .combatJ2 .actionJ1,
body .ecranCombat .combatJoueurs .combatJ1 .actionJ2,
body .ecranCombat .combatJoueurs .combatJ2 .actionJ2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 50px;
}
body .ecranCombat .combatJoueurs .combatJ1 .actionJ1 .boutonAction,
body .ecranCombat .combatJoueurs .combatJ2 .actionJ1 .boutonAction,
body .ecranCombat .combatJoueurs .combatJ1 .actionJ2 .boutonAction,
body .ecranCombat .combatJoueurs .combatJ2 .actionJ2 .boutonAction {
  width: 70px;
  height: 30px;
}
body .ecranFin {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  flex-flow: column nowrap;
  align-items: center;
}
