*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    max-width: 960px;
    background-color: #EFE784;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

.header{
    position: relative;
    height: 350px;
}


.Img_Entête, .Logo_header, .h1{
    position: absolute;
}

.Logo_header{
    top: 97px;
    left: 273px;
}

.h1{

    top: 228px;
    left: 320px;
}

h1, h2, h3{
    display: inline-block;
    color: #EFE784;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 24px;
}

main{
    background-color: #7fa99b;
}

#Img_Avengers, #Img_Star, #Img_Woman{
    width: 705px;
    padding-top: 5%;
    padding-left:-165px;
}

.intro, .conteneur_1, .conteneur_2, .conteneur_3{
    padding: 52px 165px;
}

.intro{
    background-color: #3E3838;
    text-align: center;
    color: #EFE784;
}

h2{
    margin-bottom: 16px;
    padding: 5px 0px;
    letter-spacing: 12px;
    text-indent: 12px;
    border-top: 1px solid #EFE784;
    border-bottom: 1px solid #EFE784;
}

p{
    line-height: 28px;
    font-weight: 400;
}

.conteneur_1{
    background-color: #FFFFFF;
}

h3.Titre_1, h3.Titre_2, h3.Titre_3{
    font-size: 34px;
    letter-spacing: normal;
    color: #6CBCB3;
    margin-bottom: 16px;
}

.p_conteneur_1{
    color: gray;
}

.legende_1, .legende_2_et_3{
    font-size: 14px;
}

.legende_1{

    color: #6CBCB3;
}

.conteneur_2{
    background-color: #6CBCB3;
}

h3.Titre_2{
    color: #282828;
}

.p_conteneur_2{
    color: #282828;
}

.legende_2_et_3{
    color: white;
}

.conteneur_3{
    background-color: #3E3838;
}

h3.Titre_3{
    color: white;
}

.p_conteneur_3{
    color: white;
}

footer{
    background-color: black;
    padding: 5% 10%;
}

.p_footer{
    font-size: 14px;
    line-height: 18px;
    color: white;
}

.footer{
    color: #EFE784;
}