*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-top: 50px;
}

div{
    font-size: 30px;
}

p{
    border: 1px solid blue;
    font-size: 2rem;
    height: 100vh;
}

a{
    font-size: 1rem;
}