section.wapper{
    background-color: #ff8500;
    margin-right: 15%;    
}

.column_1{
    margin: 0 10%;
    padding: 1% 0;
}

h1{
    color: #FFF;
    font-size: 50px;
    font-family: Google Sans,-apple-system,BlinkMacSystemFont,sans-serif;
}

p{
    color: #FFF;
    font-family: Google Sans,-apple-system,BlinkMacSystemFont,sans-serif;
    /*letter-spacing: 1px;*/
}

.margin{
    
    margin: 0 10px 0 20%;
}

.m{
    color: #333A73;
}

li{
    font-size: 20px;
}


/*{
    bax-sizing: border-box;
    margin: 0;
    padding: 0;

}*/

/*main{
    background-color: #ff8500;
    font-family; "Roboto", sans-serif;
    width:1000px;
    margin: 0 auto;
}*/

/*h1{
    color: #fefefe;
    font-size: 64px;
    line-height: 30px;
    padding: 80px 0 23px 84px;
}*/


/*h2{
    color: black;
    font-size: 26px;
    font-weigth: bold;
    line-height: 30px;
    padding-bottom: 24px;
    padding-left: 84px;
}*/

/*p{
    color: #fefefe;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    padding: 0px 87px 46px 84px;
}*/

/*em{
    display : infinite-block;
    border-top: solid 1px #193458;
    color: #193458;
    font-size: 16px;
    line-height: 30px;
    argin: 0 114px 35px 284px;
    padding-bottom: 16px;
    border bottom: solid 1px #193458;

}*/

/*ul{
    padding-left: 98px;
    font-size: 20px;
    font-weight: normal;
    line-height: 36px;
    padding-bottom: 138px;
}*/
