*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container_colonne{
    display: flex;
    flex-flow: column wrap;
    max-width: 960px;
    background-color: blue;
    align-items: center;
    align-content: space-evenly;
}

.container_ligne{
    display: flex;
    flex-flow: row wrap;
}
 .item1, .item2, .item3, .item4{
    margin : 15px;
}

.item1{
    background-color: orange;
    width: 900px;
    height: 200px;
}

.item2{
    background-color: gray;
    width: 225px;
    height: 500px;
    margin-right: -10px;
}

.item3{
    background-color: yellow;
    width: 675px;
    height: 500px;
}

.item4{
    background-color: green;
    width: 900px;
    height: 200px;
}
