#container{
    display: flex;
    background-color: cadetblue;
    height: 500px;
    width: 700px;
    border: 2px solid sienna;
    margin: 10% auto;
}

#flex-item_1{
    background-color: red;
    width: 200px;
    height: 100px;   
}

#flex-item_2{
    background-color: blue;
    width: 200px;
    height: 100px;   
    order: -2;
}

#flex-item_3{
    background-color: yellow;
    width: 200px;
    height: 100px;
    order: 1;
}

#flex-item_4{
    background-color: green;
    width: 200px;
    height: 100px;
    order: -1;   
}

#flex-item_5{
    background-color: pink;
    width: 200px;
    height: 100px;   
}