*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div{
    border: 1px dotted black;
}

.grid{
    width: 50%;
    height: 90vh;
    margin: auto;
    display: grid;
    grid-template-columns: 150px repeat(3, 1fr);
    grid-template-rows: 100px repeat(3, 200px) 100px;
    gap: 20px;
}

.item1, .item2, .item3, .item4, .item5, .item6, .item7{
    background-color: red;
    font-family: 'Roboto';
    font-size: 20px;
    padding: 8px;
    color: white;
}

.item1{

    grid-column:1/5 ;
}

.item2{
    grid-row: 2/5;
}

.item6{
    grid-row: 3/5;
    grid-column: 2/5;
}

.item7{
    grid-row: 5;
    grid-column: 1/5;
}