* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container_1 {
  width: 40vw;
  height: 50vh;
  margin: 10% auto;
  padding: 10px;
  background-color: lightblue;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 2%;
}
.container_1 .container_2 {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-around;
  gap: 1%;
}
.container_1 .container_2 :nth-child(1) {
  background-color: green;
}
.container_1 .container_2 :nth-child(2) {
  background-color: blue;
}
.container_1 .container_2 :nth-child(3) {
  background-color: purple;
}
.container_1 .container_2 :nth-child(4) {
  background-color: orange;
}
.container_1 .container_2 .itemMiddle {
  background-color: aqua;
}
