*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 4 types majeurs de pesudo-elements (::first-line, ::first-letter, ::before, ::after) */

.required::before{
    content: "- ";
    color: pink;
}

.required::after{
    content: "*";
    color: red;
}

.quote{
    font-style: italic;
    color: #333;
}

.quote::before{
    content: "\201C";
}

.quote::after{
    content: "\201D";
}