* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-family: Helvetica Neue, sans-serif;
  background-color: #f4f4f4;
}
body header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}
body header nav {
  display: flex;
}
body header nav #imgLogo {
  width: 100px;
  height: 100px;
}
body header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
body header nav ul li {
  margin: 0 15px;
}
body header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
body header nav ul li a:hover {
  text-decoration: underline;
}
h1 {
  text-align: center;
  margin-top: 20px;
}
.welcome-text {
  text-align: center;
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  flex: 1;
}
.login-container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}
.login-container h1 {
  margin-bottom: 20px;
}
.error {
  color: red;
  margin-bottom: 15px;
}
footer {
  display: flex;
  height: 50px;
  background-color: black;
  color: white;
  justify-content: center;
  margin-top: auto;
}
@media all and (min-width: 431px) and (max-width: 768px) {
  * {
    display: none;
  }
}
@media all and (min-width: 769px) {
  * {
    display: none;
  }
}
