html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #dbd9d9;
}
.home-image {
    display: block;
    margin: 50px auto;
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}



header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-logo{
    max-width: 30px;
    height: auto;
    margin-right: 20px; 
    margin-left: 20px;
    margin-top: 10px; 
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.welcome-text {
    text-align: center;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    flex: 1;
}

.form-container {
    width: 300px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="submit"],
form select {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #555;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
}

table a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

table a:hover {
    text-decoration: underline;
}

.login-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
}

.error {
    color: red;
    margin-bottom: 15px;
}

footer {
    display: flex;
    height: 50px;
    background-color: black;
    color: white;
    justify-content: center;
    margin-top: auto;
}
