header{
    height: 300px;
    background-image: url(/Exercices/Demo_CSS/07_Disposition_avec_Images/Images/fondpapier.jpg),url(/Exercices/Demo_CSS/07_Disposition_avec_Images/Images/Etoile.png);
    background-repeat: no-repeat;
    background-position: 10%;
}