section.wapper{
    background-color: #ff8500;
    margin-right: 15%;    
}

.column_1{
    margin: 0 10%;
    padding: 1% 0;
}

h1{
    color: #FFF;
    font-size: 50px;
    font-family: Google Sans,-apple-system,BlinkMacSystemFont,sans-serif;
}

p{
    color: #FFF;
    font-family: Google Sans,-apple-system,BlinkMacSystemFont,sans-serif;
    /*letter-spacing: 1px;*/
}

.margin{
    
    margin: 0 10px 0 20%;
}

.m{
    color: #333A73;
}

li{
    font-size: 20px;
}