*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 40%;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border: solid 5px lightblue;
    padding: 2%;
    gap: 2%;
}

.item1{
    border: solid 5px orange;
    width: 100%;
    flex-grow: 1;
}

.container_2{
    width: 100%;
    flex-grow: 3;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 2%;
    gap: 1%;
}

.container_3{
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    gap: 5%;
}

.item2, .item3, .item4, .item5, .item6{
    width: 75%;
    flex-grow: 1;
    border: solid 5px lightblue;
}

.container_4{
    height: 100%;
    flex-grow: 3;
    display: flex;
    flex-flow: column nowrap;
    gap: 5%;
    padding: 2% 0%;
}

.item7, .item8, .item9{
    width: 100%;
    flex-grow: 1;
    border: solid 5px blue;
}

.item10{
    border: solid 5px green;
    width: 100%;
    flex-grow: 1;  
}