* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: white;
  -webkit-text-stroke: 1px black;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
body .selectDiv {
  display: none;
}
body .rond {
  width: 35px;
  height: 35px;
  border-radius: 50% ;
  position: absolute;
  background-color: rgba(255, 255, 0, 0.4);
  border: solid 2px black;
}
body .rectangle {
  width: 500px;
  height: 500px;
  background-color: red;
  border: solid 2px black;
}
