* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  font-family: Helevtica, serif;
}
body .navbar {
  font-family: Helevtica, sans-serif;
  background-color: white;
  top: 0;
  position: sticky;
  overflow: hidden;
  padding: 0% 4%;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  align-items: center;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
}
body .navbar a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
body .navbar a:hover {
  background-color: #ddd;
}
body .navbar .menu {
  display: flex;
}
body .navbar .menu a i {
  padding-left: 5px;
}
body .navbar .utilisateur {
  display: flex;
  align-items: center;
  padding-right: 20px;
}
body .navbar .openbtn {
  display: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main h1 {
  text-align: center;
  margin-top: 20px;
}
body main .home {
  min-width: 768px;
  max-width: 1300px;
  padding: 60px 0px;
  background-color: #fff;
  border-radius: 10px;
}
body main .home .home-gride {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(150px, auto);
}
body main .home .home-gride .items {
  width: 100%;
  height: auto;
}
body main .home .home-gride .items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
body main .home .home-gride .one {
  grid-column: 1;
  grid-row: 1;
}
body main .home .home-gride .two {
  grid-column: 2 / 4;
  grid-row: 1 / 4;
  display: flex;
  gap: 20px;
}
body main .home .home-gride .two .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .home .home-gride .two .content h1 {
  font-weight: 200;
  font-size: calc(1.475rem + 2.7vw);
  margin-bottom: 10px;
}
body main .home .home-gride .two .content p {
  text-align: center;
  font-family: Helevtica, sans-serif;
  font-size: 1.5rem;
  color: #555;
  line-height: 1.5;
}
body main .home .home-gride .three {
  grid-column: 1;
  grid-row: 2 / 5;
}
body main .home .home-gride .four {
  grid-column: 2 / 4;
  grid-row: 4;
}
body main .aboutMe {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #B6AA9A;
  padding-top: 60px;
  padding-bottom: 20px;
  font-family: Helvetica, sans-serif;
}
body main .aboutMe .container {
  min-width: 768px;
  max-width: 1300px;
  display: flex;
}
body main .aboutMe .container .left-container {
  max-width: 50%;
  align-items: center;
  text-align: center;
  padding: 10px;
}
body main .aboutMe .container .left-container h3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
body main .aboutMe .container .left-container p {
  font-size: 16px;
  line-height: 1.6;
}
body main .aboutMe .container .right-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 50%;
  margin-left: 8.33333333%;
}
body main .aboutMe .container .right-container .content {
  width: 40%;
  padding: 16px;
  flex-direction: column;
}
body main .aboutMe .container .right-container .content h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
body main .aboutMe .container .right-container .content p {
  font-size: 1rem;
}
body main .aboutMe .container .right-container .content .separator {
  display: flex;
  margin-top: 16px;
  margin-bottom: 40px;
}
body main .aboutMe .container .right-container .content .separator hr {
  width: 100%;
  border: none;
  border-top: 1px solid black;
}
body main .aboutCompagny {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  background-color: #8E7762;
  color: #F5F5F7;
  font-family: Helvetica, sans-serif;
}
body main .aboutCompagny .left-container {
  width: 50%;
  align-items: center;
  padding: 60px 50px;
}
body main .aboutCompagny .left-container h3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
body main .aboutCompagny .left-container p {
  font-size: 16px;
  line-height: 1.6;
}
body main .aboutCompagny .left-container a {
  text-decoration: none;
  display: inline-block;
  padding: 0.6rem 1.8rem;
  font-size: 1.171875rem;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: #F5F5F7;
  color: #8E7762;
  border-radius: 10rem;
  font-weight: bold;
}
body main .aboutCompagny .right-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 50%;
}
body main .aboutCompagny .right-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
body main .gallery {
  display: grid;
  grid-template-rows: repeat(10, 30px);
  grid-template-columns: repeat(12, 1fr);
  padding: 60px 10px;
  gap: 20px;
}
body main .gallery .gallery-item {
  width: 100%;
  height: auto;
}
body main .gallery .gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
body main .gallery .item1 {
  grid-area: 2 / 1 / 10 / 2;
}
body main .gallery .item2 {
  grid-area: 1 / 2 / 6 / 5;
}
body main .gallery .item3 {
  grid-area: 6 / 2 / 11 / 5;
}
body main .gallery .item4 {
  grid-area: 2 / 5 / 10 / 8;
}
body main .gallery .item5 {
  grid-area: 1 / 8 / 11 / 11;
}
body main .gallery .item6 {
  grid-area: 2 / 11 / 10 / 13;
}
body main .welcome-text {
  text-align: center;
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  flex: 1;
}
body main .login-container,
body main .form-container {
  width: 300px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
body main .login-container label,
body main .form-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
body main .login-container input[type="text"],
body main .form-container input[type="text"],
body main .login-container input[type="email"],
body main .form-container input[type="email"],
body main .login-container input[type="password"],
body main .form-container input[type="password"],
body main .login-container input[type="submit"],
body main .form-container input[type="submit"],
body main .login-container select,
body main .form-container select {
  width: calc(100% - 16px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
body main .login-container input[type="submit"],
body main .form-container input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}
body main .login-container input[type="submit"]:hover,
body main .form-container input[type="submit"]:hover {
  background-color: #555;
}
body main .login-container {
  margin: 50px auto;
  text-align: center;
}
body main table {
  width: 80% !important;
  margin: 20px auto !important;
  border-collapse: collapse !important;
  background: #fff !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}
body main table thead tr th {
  border: 1px solid #ccc !important;
  padding: 10px !important;
  text-align: left !important;
  background-color: #f4f4f4 !important;
}
body main table tbody tr td {
  border: 1px solid #ccc !important;
  padding: 10px !important;
  text-align: left !important;
}
body main table tbody tr td a {
  color: #333 !important;
  text-decoration: none !important;
  font-weight: bold !important;
}
body main table tbody tr td a:hover {
  text-decoration: underline !important;
}
body main .error {
  color: red;
  margin-bottom: 15px;
}
body footer {
  display: flex;
  background-color: black;
  color: white;
  justify-content: center;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  body .navbar {
    display: block;
  }
  body .navbar .menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  body .navbar .menu .closebtn {
    display: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  body .navbar .menu a {
    padding: 10px 20px;
    text-align: left;
  }
  body .navbar .menu.show {
    display: inline-block;
  }
  body .navbar .utilisateur {
    display: none;
    width: 100%;
  }
  body .navbar .utilisateur a {
    padding: 10px 20px;
    text-align: left;
  }
  body .navbar .utilisateur.show {
    display: flex;
  }
  body .navbar .openbtn {
    display: block;
    font-size: 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
  }
}
