*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box{
    width: 200px;
    height: 200px;
    background-color: orange;
}

.box:hover{
    /* animation-name: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards; */

    animation: fadeIn 1s alternate infinite ease-in;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        width: 500px;
    }
}
