*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box{
    width: 200px;
    height: 200px;
    background-color: orange;
    /* transform: rotate(30deg); */
    /* transform: skew(30deg); */
    transition: all 1s;
}

.box:hover{
    transform: scale(1.5);
}