* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
body .navbar {
  width: fit-content;
  height: 100vh;
  background-color: grey;
  padding: 2%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
body .navbar .burger-menu {
  align-self: flex-start;
  width: fit-content;
  height: fit-content;
}
body .navbar .burger-menu .line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px;
}
body .navbar .menu-items {
  display: none;
  width: fit-content;
  list-style-type: none;
}
body .navbar .menu-items .item {
  width: 250px;
  font-size: 1.5rem;
  color: white;
  padding: 5%;
  padding-left: 0;
}
body .navbar .open {
  display: block;
}
